<launch>
  <!-- Arguments -->
  <arg name="device"           default="192.168.11.33"/>
  <arg name="ag_n"             default="0"/>
  <arg name="base_frame"       default="qr_code"/>
  <arg name="camera_info_path" default="file://$(find hl2ss_ros)/config/NRG3/camera_intrinsics/cal_nrg3_vlc_leftfront.yaml"/> <!-- Must start with file:// -->

  <!-- Stream VLC Camera Node -->
  <node name="hololens_ag$(arg ag_n)_vlc_pub" pkg="hl2ss_ros" type="hololens_vlc_pub.py" output="screen">
    <param name="host" value="$(arg device)"/>

    <!-- port options:
    RM_VLC_LEFTFRONT     = 3800
    RM_VLC_LEFTLEFT      = 3801
    RM_VLC_RIGHTFRONT    = 3802
    RM_VLC_RIGHTRIGHT    = 3803
    -->
    <param name="port" value="3800"/>

    <!-- Stream Operating Mode
    0: Device data (e.g. video)
    1: Device data + location data (e.g. video + camera pose)
    2: Device constants (e.g. camera intrinsics)
    -->
    <param name="mode" value="1"/>
    <param name="divisor" value="1"/>
    <param name="profile" value="0"/>
    <param name="bitrate" value="None"/>
    <param name="base_frame" value="$(arg base_frame)"/>
  </node>

  <!-- Publish camera info -->
  <node name="hl_vlc_camera_info_ag$(arg ag_n)" pkg="hl2ss_ros" type="camera_info_publisher" output="screen">
    <param name="camera_info_path" value="$(arg camera_info_path)"/>
    <param name="ag_n" value="$(arg ag_n)"/>
  </node>

  <!-- Launch image_proc node for image rectification -->
  <group ns="hololens_ag$(arg ag_n)">
    <node name="image_proc" pkg="image_proc" type="image_proc" output="screen"/>
  </group>

</launch>
