<launch>
  <!-- Common parameters -->
  <arg name="host" default="192.168.11.33"/>
  <arg name="mode" default="1"/>
  <arg name="divisor" default="1"/>
  <arg name="profile" default="0"/>
  <arg name="bitrate" default="None"/>

  <!-- RM_VLC_LEFTFRONT -->
  <group ns="vlc_leftfront">
    <node name="hololens_vlc_node" pkg="hl2ss_ros" type="client_stream_rm_vlc.py" output="screen">
      <param name="host" value="$(arg host)"/>
      <param name="port" value="3800"/>
      <param name="mode" value="$(arg mode)"/>
      <param name="divisor" value="$(arg divisor)"/>
      <param name="profile" value="$(arg profile)"/>
      <param name="bitrate" value="$(arg bitrate)"/>
    </node>
  </group>

  <!-- RM_VLC_LEFTLEFT -->
  <group ns="vlc_leftleft">
    <node name="hololens_vlc_node" pkg="hl2ss_ros" type="client_stream_rm_vlc.py" output="screen">
      <param name="host" value="$(arg host)"/>
      <param name="port" value="3801"/>
      <param name="mode" value="$(arg mode)"/>
      <param name="divisor" value="$(arg divisor)"/>
      <param name="profile" value="$(arg profile)"/>
      <param name="bitrate" value="$(arg bitrate)"/>
    </node>
  </group>

  <!-- RM_VLC_RIGHTFRONT -->
  <group ns="vlc_rightfront">
    <node name="hololens_vlc_node" pkg="hl2ss_ros" type="client_stream_rm_vlc.py" output="screen">
      <param name="host" value="$(arg host)"/>
      <param name="port" value="3802"/>
      <param name="mode" value="$(arg mode)"/>
      <param name="divisor" value="$(arg divisor)"/>
      <param name="profile" value="$(arg profile)"/>
      <param name="bitrate" value="$(arg bitrate)"/>
    </node>
  </group>

  <!-- RM_VLC_RIGHTRIGHT -->
  <group ns="vlc_rightright">
    <node name="hololens_vlc_node" pkg="hl2ss_ros" type="client_stream_rm_vlc.py" output="screen">
      <param name="host" value="$(arg host)"/>
      <param name="port" value="3803"/>
      <param name="mode" value="$(arg mode)"/>
      <param name="divisor" value="$(arg divisor)"/>
      <param name="profile" value="$(arg profile)"/>
      <param name="bitrate" value="$(arg bitrate)"/>
    </node>
  </group>
</launch>