<launch>
    <!-- HoloLens IP address -->
    <arg name="device" default="192.168.11.21"/>

    <!-- Launch VLC stream -->
    <include file="$(find hl2ss_ros)/launch/hololens_vlc.launch">
        <arg name="device" value="$(arg device)"/>
    </include>

    <!-- Launch odometry publisher -->
    <include file="$(find hl2ss_ros)/launch/hololens_odom.launch">
        <arg name="device" value="$(arg device)"/>
    </include>
    
</launch>