<launch>

    <!-- HoloLens IP address -->
    <arg name="device" default="192.168.11.21"/>

    <!-- Launch the spatial input IMU node -->
    <node pkg="hl2ss_ros" type="client_stream_si_imu.py" name="hololens_si_imu_node" output="screen">
        <param name="host" value="$(arg device)" />
    </node>

</launch>